<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jackets</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block title %} Куртки {% endblock %}
    {% block content %}
    <h2 align="center">Куртки</h2>
    {% for cat in list %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{cat['name']}}</h5>
            <p class="card-text">Цена: {{cat['price']}} руб.</p>
            <a href="#" class="btn btn-primary">Купить</a>
        </div>
    </div>
    {%endfor%}

    {% endblock %}
</body>
</html>